a img,abbr,fieldset {
    border: 0
}

#logo,h1,h2 {
    padding: 0 0 7px
}

#logo a,.form-table th p,h1,h2 {
    font-weight: 400
}

html {
    background: #f1f1f1;
    margin: 0 20px
}

body {
    background: #fff;
    color: #444;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin: 140px auto 25px;
    padding: 20px 20px 10px;
    max-width: 700px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13)
}

a {
    color: #0073aa
}

a:active,a:hover {
    color: #00a0d2
}

a:focus {
    color: #124964;
    -webkit-box-shadow: 0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8);
    box-shadow: 0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8)
}

.ie8 a:focus {
    outline: #5b9dd9 solid 1px
}

h2 {
    border-bottom: 1px solid #ddd;
    clear: both;
    color: #666;
    font-size: 24px
}

h3 {
    font-size: 16px
}

dd,dt,li,p {
    padding-bottom: 2px;
    font-size: 14px;
    line-height: 1.5
}

.code,code {
    font-family: Consolas,Monaco,monospace
}

input,submit,textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}

dl,ol,ul {
    padding: 5px 5px 5px 22px
}

abbr {
    font-variant: normal
}

fieldset {
    padding: 0;
    margin: 0
}

label {
    cursor: pointer
}

#logo {
    margin: 6px 0 14px;
    border-bottom: none;
    text-align: center
}

#logo a {
    background-image: url(http://www.hhailuo.com/wp-content/themes/coffee-beans/images/logo.png);
    -webkit-background-size: 84px;
    background-size: 84px;
    background-position: center top;
    background-repeat: no-repeat;
    color: #444;
    height: 95px;
    font-size: 20px;
    line-height: 1.3em;
    margin: -130px auto 25px;
    padding: 0;
    text-decoration: none;
    width: 84px;
    text-indent: -9999px;
    outline: 0;
    overflow: hidden;
    display: block
}

#pass1-text,.pw-weak,.show-password #pass1 {
    display: none
}

#logo a:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.step {
    margin: 20px 0 15px
}

.step,th {
    text-align: left;
    padding: 0
}

.language-chooser.wp-core-ui .step .button.button-large {
    height: 36px;
    font-size: 14px;
    line-height: 33px;
    vertical-align: middle
}

.form-table td,.form-table th {
    padding: 10px 20px 10px 0;
    vertical-align: top;
    font-size: 14px
}

textarea {
    border: 1px solid #ddd;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.form-table {
    border-collapse: collapse;
    margin-top: 1em;
    width: 100%
}

.form-table td {
    margin-bottom: 9px
}

.form-table th {
    text-align: left;
    width: 140px
}

.form-table code {
    line-height: 18px;
    font-size: 14px
}

.form-table p {
    margin: 4px 0 0;
    font-size: 11px
}

.form-table input {
    line-height: 20px;
    font-size: 15px;
    padding: 3px 5px;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07)
}

.form-table input[type=email],.form-table input[type=password],.form-table input[type=text],.form-table input[type=url] {
    width: 206px
}

.form-table.install-success td,.form-table.install-success th {
    vertical-align: middle;
    padding: 16px 20px 16px 0
}

.form-table.install-success td p {
    margin: 0;
    font-size: 14px
}

.form-table.install-success td code {
    margin: 0;
    font-size: 18px
}

#error-page {
    margin-top: 50px
}

#error-page p {
    font-size: 14px;
    line-height: 18px;
    margin: 25px 0 20px
}

#error-page code,.code {
    font-family: Consolas,Monaco,monospace
}

.wp-hide-pw>.dashicons {
    line-height: inherit
}

#pass-strength-result {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #23282d;
    margin: -2px 5px 5px 0;
    padding: 3px 5px;
    text-align: center;
    width: 218px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0
}

#pass-strength-result.short {
    background-color: #f1adad;
    border-color: #e35b5b;
    opacity: 1
}

#pass-strength-result.bad {
    background-color: #fbc5a9;
    border-color: #f78b53;
    opacity: 1
}

#pass-strength-result.good {
    background-color: #ffe399;
    border-color: #ffc733;
    opacity: 1
}

#pass-strength-result.strong {
    background-color: #c1e1b9;
    border-color: #83c373;
    opacity: 1
}

#pass1-text.short,#pass1.short {
    border-color: #e35b5b
}

#pass1-text.bad,#pass1.bad {
    border-color: #f78b53
}

#pass1-text.good,#pass1.good {
    border-color: #ffc733
}

#pass1-text.strong,#pass1.strong {
    border-color: #83c373
}

.message {
    border-left: 4px solid #dc3232;
    padding: .7em .6em;
    background-color: #fbeaea
}

#admin_email,#dbhost,#dbname,#pass1,#pass2,#prefix,#pwd,#uname,#user_login {
    direction: ltr
}

.show-password #pass1-text {
    display: inline-block
}

.form-table span.description.important {
    font-size: 12px
}

.rtl input,.rtl submit,.rtl textarea,body.rtl {
    font-family: Tahoma,sans-serif
}

.language-chooser select,:lang(he-il) .rtl input,:lang(he-il) .rtl submit,:lang(he-il) .rtl textarea,:lang(he-il) body.rtl {
    font-family: Arial,sans-serif
}

.entry-content {
    max-height: 500px;
    overflow-y: auto;
}


.screen-reader-input,.screen-reader-text {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0
}

.spinner {
    background: url(../images/spinner.gif) no-repeat;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    visibility: hidden;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 20px;
    height: 20px;
    margin: 2px 5px 0
}

.step .spinner {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px
}

.button-secondary.hide-if-no-js,.hide-if-no-js {
    display: none
}


/** BUTTON */
.wp-core-ui .button,.wp-core-ui .button-primary,.wp-core-ui .button-secondary {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.wp-core-ui button::-moz-focus-inner,.wp-core-ui input[type=reset]::-moz-focus-inner,.wp-core-ui input[type=button]::-moz-focus-inner,.wp-core-ui input[type=submit]::-moz-focus-inner {
    border-width: 0;
    border-style: none;
    padding: 0
}

.wp-core-ui .button-group.button-large .button,.wp-core-ui .button.button-large {
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px
}

.wp-core-ui .button-group.button-small .button,.wp-core-ui .button.button-small {
    height: 24px;
    line-height: 22px;
    padding: 0 8px 1px;
    font-size: 11px
}

.wp-core-ui .button-group.button-hero .button,.wp-core-ui .button.button-hero {
    font-size: 14px;
    height: 46px;
    line-height: 44px;
    padding: 0 36px
}

.wp-core-ui .button:active,.wp-core-ui .button:focus {
    outline: 0
}

.wp-core-ui .button.hidden {
    display: none
}

.wp-core-ui input[type=reset],.wp-core-ui input[type=reset]:active,.wp-core-ui input[type=reset]:focus,.wp-core-ui input[type=reset]:hover {
    background: 0 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 2px 1px;
    width: auto
}

.wp-core-ui .button,.wp-core-ui .button-secondary {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top
}

.wp-core-ui p .button {
    vertical-align: baseline
}

.wp-core-ui .button-secondary:focus,.wp-core-ui .button-secondary:hover,.wp-core-ui .button.focus,.wp-core-ui .button.hover,.wp-core-ui .button:focus,.wp-core-ui .button:hover {
    background: #fafafa;
    border-color: #999;
    color: #23282d
}

.wp-core-ui .button-link:focus,.wp-core-ui .button-secondary:focus,.wp-core-ui .button.focus,.wp-core-ui .button:focus {
    border-color: #5b9dd9;
    -webkit-box-shadow: 0 0 3px rgba(0,115,170,.8);
    box-shadow: 0 0 3px rgba(0,115,170,.8)
}

.wp-core-ui .button-secondary:active,.wp-core-ui .button.active,.wp-core-ui .button.active:hover,.wp-core-ui .button:active {
    background: #eee;
    border-color: #999;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
    box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px)
}

.wp-core-ui .button.active:focus {
    border-color: #5b9dd9;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5),0 0 3px rgba(0,115,170,.8);
    box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5),0 0 3px rgba(0,115,170,.8)
}

.wp-core-ui .button-disabled,.wp-core-ui .button-secondary.disabled,.wp-core-ui .button-secondary:disabled,.wp-core-ui .button-secondary[disabled],.wp-core-ui .button.disabled,.wp-core-ui .button:disabled,.wp-core-ui .button[disabled] {
    color: #a0a5aa!important;
    border-color: #ddd!important;
    background: #f7f7f7!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: 0 1px 0 #fff!important;
    cursor: default;
    -webkit-transform: none!important;
    -ms-transform: none!important;
    transform: none!important
}

.wp-core-ui .button-link {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: 0 0;
    outline: 0;
    cursor: pointer
}

.wp-core-ui .button-link:focus {
    outline: #5b9dd9 solid 1px
}

.wp-core-ui .button-primary {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799
}

.wp-core-ui .button-primary.focus,.wp-core-ui .button-primary.hover,.wp-core-ui .button-primary:focus,.wp-core-ui .button-primary:hover {
    background: #008ec2;
    border-color: #006799;
    color: #fff
}

.wp-core-ui .button-primary.focus,.wp-core-ui .button-primary:focus {
    -webkit-box-shadow: 0 1px 0 #0073aa,0 0 2px 1px #33b3db;
    box-shadow: 0 1px 0 #0073aa,0 0 2px 1px #33b3db
}

.wp-core-ui .button-primary.active,.wp-core-ui .button-primary.active:focus,.wp-core-ui .button-primary.active:hover,.wp-core-ui .button-primary:active {
    background: #0073aa;
    border-color: #006799;
    -webkit-box-shadow: inset 0 2px 0 #006799;
    box-shadow: inset 0 2px 0 #006799;
    vertical-align: top
}

.wp-core-ui .button-primary-disabled,.wp-core-ui .button-primary.disabled,.wp-core-ui .button-primary:disabled,.wp-core-ui .button-primary[disabled] {
    color: #66c6e4!important;
    background: #008ec2!important;
    border-color: #007cb2!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1)!important;
    cursor: default
}

.wp-core-ui .button.button-primary.button-hero {
    -webkit-box-shadow: 0 2px 0 #006799;
    box-shadow: 0 2px 0 #006799
}

.wp-core-ui .button.button-primary.button-hero.active,.wp-core-ui .button.button-primary.button-hero.active:focus,.wp-core-ui .button.button-primary.button-hero.active:hover,.wp-core-ui .button.button-primary.button-hero:active {
    -webkit-box-shadow: inset 0 3px 0 #006799;
    box-shadow: inset 0 3px 0 #006799
}

.wp-core-ui .button-group {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 0;
    vertical-align: middle
}

.wp-core-ui .button-group>.button {
    display: inline-block;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-right: -1px;
    z-index: 10
}

.wp-core-ui .button-group>.button-primary {
    z-index: 100
}

.wp-core-ui .button-group>.button:hover {
    z-index: 20
}

.wp-core-ui .button-group>.button:first-child {
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px
}

.wp-core-ui .button-group>.button:last-child {
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.wp-core-ui .button-group>.button:focus {
    position: relative;
    z-index: 1
}


.onCorrect, .onShow, .onError, .onFocus {
    display: inline-block;
    margin-left: 10px;
}

.onCorrect {
    color: #3c763d;
}

.onShow {
    color: #31708f;
}

.onError {
    color: #a94442;
}

.onFocus {
    color: #428bca;
}