<extend name="Layout:bootstrap" />
<block name="title"><title>控制面板</title></block>
<block name="content">
    <div class="row-fluid">
        <div class="span12">
        <div class="span6">
            <div class="portlet box grey">
                <div class="portlet-title">个人信息 Profile&nbsp; Info</div>
                <div class="portlet-body">
                    <ul>
                        <li><span>用户帐号:</span><?php echo $user_info['account']; ?></li>
                        <li><span>用户角色:</span><?php echo $user_info['role_name']; ?></li>
                        <li><span>上次登陆IP:</span><?php echo $user_info['last_login_ip']; ?></li>
                        <li><span>上次登陆地址:</span><?php echo $area; ?></li>
                        <li><span>上次登陆时间:</span><?php echo date('Y-m-d H:i:s', $user_info['last_login_time']); ?></li>
                    </ul>
                </div>
            </div>

            <div class="portlet box grey">
                <div class="portlet-title">作者信息 Author&nbsp; Info</div>
                <div class="portlet-body">
                    <ul>
                        <li><span>官方网站:</span><a target="_blank" href="http://tp-admin.hhailuo.com/">TP-Admin</a></li>
                        <li><span>创作人:</span><a href="http://www.hhailuo.com/">逍遥·李志亮</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="span6">
            <div class="portlet box grey">
                <div class="portlet-title">系统信息 System&nbsp; Info</div>
                <div class="portlet-body">
                    <ul>
                        <li><span>操作系统:</span><?php echo $system_info['0']; ?></li>
                        <li><span>运行方式:</span><?php echo $system_info['1']; ?></li>
                        <li><span>PHP版本:</span><?php echo $system_info['3']; ?></li>
                        <li><span>MYSQL版本:</span><?php echo $system_info['2']; ?></li>
                        <li><span>上传限制:</span><?php echo $system_info['4']; ?></li>
                        <li><span>GD库版本:</span><?php echo $system_info['5']; ?></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</block>
<block name="footer">
    <script type="text/javascript">
        if(self==top){
            window.top.location.href = '<?php echo U("Index/index"); ?>';
        }
    </script>
</block>


