<extend name="Public:list_layout" />
<block name="title"><title>推荐位</title></block>
<block name="subnav">
  <a class="add fb" href="__CONTROLLER__/add"><em>添加推荐位</em></a>　    <a href="__CONTROLLER__/index"><em>推荐位管理</em></a>
</block>
<block name="main">
  <form name="myform" id="myform" action="__CONTROLLER__/public_item_listorder" method="post">
    <input type="hidden" name="posid" value="<?php echo $posid; ?>" />
    <div class="table-list">
      <table width="100%" cellspacing="0">
        <thead>
          <tr>
            <th width="10%" align="left"><input type="checkbox" value="" id="check_box" onclick="selectall('items[]');"></th>
            <th width="10%" align="left">排序</th>
            <th width="10%" align="left">ID</th>
            <th align="left">标题</th>
            <th width="15%">栏目名称</th>
            <th width="15%">发表时间</th>
            <th width="15%">管理操作</th>
          </tr>
        </thead>
        <tbody>
          <?php foreach ($infos as $key => $info) { ?>
          <tr>
            <td width="10%">
              <input type="checkbox" name="items[]" value="<?php echo $key; ?>" id="items" boxid="items">
            </td>
            <td width="10%">
              <input name="listorders[<?php echo $key; ?>]" type="text" size="3" value="<?php echo $info['listorder']; ?>" class="input-text-c input-text">
            </td>
            <td width="10%" align="left"><?php echo $info['listorder']; ?></td>
            <td align="left"><a href="<?php echo $info['url'] ?>" target="_blank"><?php echo $info['title']; if($info['thumb']) { echo '<img src="__PUBLIC__/images/admin/icon/small_img.gif">'; } ?></a></td>
            <td width="15%" align="center"><?php echo $info['catname']; ?></td>
            <td width="15%" align="center"><?php echo date('Y-m-d H:i:s', $info['inputtime']); ?></td>
            <td width="15%" align="center"><a href="<?php echo $info['url']; ?>" target="_blank">原文</a> | <a href="__CONTROLLER__/public_item_remove?item=<?php echo $key; ?>&posid=<?php echo $posid; ?>">移出</a>
            </td>
          </tr>
          <?php } ?>
        </tbody>
      </table>
    </div>
    <div class="btn">
      <input type="submit" class="button" name="dosubmit" value="排序"/>
      <input type="submit" class="button" name="dosubmit" value="移出" onclick="document.myform.action='__CONTROLLER__/public_item_remove';return confirm('确认要移出 『 选中 』 吗？')">&nbsp;&nbsp;
    </div>
    <div id="pages"><?php echo $pages; ?></div>
  </form>
</block>