<?php
$seo = get_site_seo_info();
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="off">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <title><?php echo $seo['title']; ?> - 后台管理中心</title>
    <link href="__PUBLIC__/css/admin/reset.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/admin/zh-cn-system.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/js/admin/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/admin/jquery.cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/admin/formvalidator.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/admin/formvalidatorregex.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/admin/admin_common.js"></script>
    <script src="__PUBLIC__/js/admin/jquery.artDialog.source.js?skin=default"></script>
    <style type="text/css">
        .objbody{overflow:hidden}
        .btns{background-color:#666;}
        .btns{position: absolute; top:116px; right:30px; z-index:1000; opacity:0.6;}
        .btns2{background-color:rgba(0,0,0,0.5); color:#fff; padding:2px; border-radius:3px; box-shadow:0px 0px 2px #333; padding:0px 6px; border:1px solid #ddd;}
        .btns:hover{opacity:1;}
        .btns h6{padding:4px; border-bottom:1px solid #666; text-shadow: 0px 0px 2px #000;}
        .btns .pd4{ padding-top:4px; border-top:1px solid #999;}
        .pd4 li{border-radius:0px 6px 0px 6px; margin-top:2px; margin-bottom:3px; padding:2px 0px;}
        .btns .pd4 li span{padding:0px 6px;}
        .pd{padding:4px;}
        .ac{background-color:#333; color:#fff;}
        .hvs{background-color:#555; cursor: pointer;}
        .bg_btn{background: url(__PUBLIC__/images/admin/admin_img/icon2.jpg) no-repeat; width:32px; height:32px;}
    </style>
</head>
<body scroll="no" class="objbody" screen_capture_injected="true">
    <div id="dvLockScreen" class="ScreenLock" style="display:none">
        <div id="dvLockScreenWin" class="inputpwd">
            <h5><b class="ico ico-info"></b><span id="lock_tips">锁屏状态，请输入密码解锁</span></h5>
            <div class="input">
                <label class="lb">密码：</label><input type="password" id="lock_password" class="input-text" size="24">
                <input type="submit" class="submit" value=" " name="dosubmit" onclick="check_screenlock();return false;">
            </div>
        </div>
    </div>
    <div class="header" style="width: auto;">
        <div class="logo lf">
            <a href="<?php echo $site_info['domain']; ?>" target="_blank">
                <span class="invisible">TP-Admin</span>
            </a>
        </div>
        <div class="col-auto">
            <div class="log white cut_line">
                您好！<?php echo $user_info['account']; ?> [<?php echo $user_info['name']; ?>]<span>|</span><a href="__MODULE__/Public/loginout">[退出]</a><span>|</span>
                <a href="<?php echo $site_info['domain']; ?>" target="_blank" id="site_homepage">站点首页</a>
                <!-- <span>|</span>
                <a href="javascript:art.dialog({id:'member',content:'开发中……', title:'后台地图', width:'700', height:'500', lock:true});void(0);">会员中心</a><span>|</span>
                <a href="javascript:art.dialog({id:'search',content:'开发中……', title:'后台地图', width:'700', height:'500', lock:true});void(0);" id="site_search">搜索</a> -->
            </div>
            <ul class="nav white" id="top_menu">
                <?php foreach ($top_menu as $key => $value) { ?>
                <li id="_M<?php echo $value['id']; ?>" class="top_menu <?php if($key == 0) echo "on"; ?>">
                    <a href="javascript:_M(<?php echo $value['id']; ?>,'__MODULE__/<?php echo $value['module']; ?>/<?php echo $value['action']; ?>')" hidefocus="true" style="outline:none;"><?php echo $value['title']; ?></a>
                </li>
                <?php } ?>
                <li class="tab_web">
                    <a href="javascript:;"><span><?php echo $site_info['name']; ?></span></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content" style="width: auto;">
        <div class="col-left left_menu">
            <div id="Scroll" style="height: 527px;">
                <div id="leftMain"></div>
            </div>
            <a href="javascript:;" id="openClose" hidefocus="hidefocus" class="open" title="展开与关闭"><span class="hidden">展开</span></a>
        </div>
        <div class="col-1 lf cat-menu" id="display_center_id" style="display:none;" height="100%">
            <div class="content">
                <iframe name="center_frame" id="center_frame" src="" frameborder="false" scrolling="auto" style="border: none; height: 556px;" width="100%" height="auto" allowtransparency="true"></iframe>
            </div>
        </div>
        <div class="col-auto mr8">
            <div class="crumbs">
                当前位置：<span id="current_pos">我的面板 &gt; 首页</span>
            </div>
            <div class="col-1">
                <div class="content" style="position:relative; overflow:hidden;">
                    <iframe name="right" id="rightMain" src="__MODULE__/Index/main" frameborder="false" scrolling="auto" width="100%" height="auto" allowtransparency="true"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-web-panel hidden">
        <ul>
            <?php foreach ($sites as $key => $site) { ?>
            <li style="margin:0"><a href="__MODULE__/Index/change_site/siteid/<?php echo $site['id']; ?>"><?php echo $site['name']; ?></a></li>
            <?php } ?>
        </ul>
    </div>
    <div class="scroll" style="display: none;">
        <a href="javascript:;" class="per" title="使用鼠标滚轴滚动侧栏" onclick="menuScroll(1);"></a>
        <a href="javascript:;" class="next" title="使用鼠标滚轴滚动侧栏" onclick="menuScroll(2);"></a>
    </div>
    <script type="text/javascript">
        if(!Array.prototype.map) {
            Array.prototype.map = function(fn,scope) {
                var result = [],ri = 0;
                for (var i = 0,n = this.length; i < n; i++){
                    if(i in this){
                        result[ri++]  = fn.call(scope ,this[i],i,this);
                    }
                }
                return result;
            };
        }

        var getWindowSize = function(){
            return ["Height","Width"].map(function(name){
                return window["inner"+name] ||
                document.compatMode === "CSS1Compat" && document.documentElement[ "client" + name ] || document.body[ "client" + name ]
            });
        }

        window.onload = function (){
            if(!+"\v1" && !document.querySelector) {
            // for IE6 IE7
            document.body.onresize = resize;
        } else {
            window.onresize = resize;
        }
        function resize() {
            wSize();
            return false;
        }
    }

    function wSize() {
        var str=getWindowSize();
        var strs= new Array();
        strs=str.toString().split(",");
        var heights = strs[0]-112,Body = $('body');$('#rightMain').height(heights);
        if(strs[1]<980){
            $('.header').css('width',980+'px');
            $('#content').css('width',980+'px');
            Body.attr('scroll','');
            Body.removeClass('objbody');
        }else{
            $('.header').css('width','auto');
            $('#content').css('width','auto');
            Body.attr('scroll','no');
            Body.addClass('objbody');
        }
        var openClose = $("#rightMain").height();
        $('#center_frame').height(openClose + 22);
        $("#openClose").height(openClose + 22);
        $("#Scroll").height(openClose + 22);
        windowW();
    }
    wSize();
    function windowW(){
        if($('#Scroll').height()<$("#leftMain").height()){
            $(".scroll").show();
        }else{
            $(".scroll").hide();
        }
    }
    windowW();

    //站点下拉菜单
    $(function(){
        var offset = $(".tab_web").offset();
        var tab_web_panel = $(".tab-web-panel");
        $(".tab_web").mouseover(function(){
            tab_web_panel.css({ "left": +$(this).offset().left+4, "top": +offset.top+$('.tab_web').height()});
            tab_web_panel.show();
            if(tab_web_panel.height() > 200){
                tab_web_panel.children("ul").addClass("tab-scroll");
            }
        });
        $(".tab_web span").mouseout(function(){hidden_site_list_1()});
        $(".tab-web-panel").mouseover(function(){clearh();$('.tab_web a').addClass('on')}).mouseout(function(){hidden_site_list_1();
            $('.tab_web a').removeClass('on')
        });
        //默认载入左侧菜单
        $("#leftMain").load("__MODULE__/Index/left/mid/59");
    });

    //隐藏站点下拉。
    var s = 0;
    var h;
    function hidden_site_list() {
        s++;
        if(s>=3) {
            $('.tab-web-panel').hide();
            clearInterval(h);
            s = 0;
        }
    }
    function clearh(){
        if(h)clearInterval(h);
    }
    function hidden_site_list_1() {
        h = setInterval("hidden_site_list()", 1);
    }

    //左侧开关
    $("#openClose").click(function(){
        if($(this).data('clicknum')==1) {
            $("html").removeClass("on");
            $(".left_menu").removeClass("left_menu_on");
            $(this).removeClass("close");
            $(this).data('clicknum', 0);
            $(".scroll").show();
        } else {
            $(".left_menu").addClass("left_menu_on");
            $(this).addClass("close");
            $("html").addClass("on");
            $(this).data('clicknum', 1);
            $(".scroll").hide();
        }
        return false;
    });

    function _M(menuid,targetUrl) {
        $("#menuid").val(menuid);
        $("#bigid").val(menuid);
        $("#paneladd").html('<a class="panel-add" href="javascript:add_panel();"><em>添加</em></a>');
        $("#leftMain").load("__MODULE__/Index/left/mid/"+menuid, {limit: 25}, function(responseText, textStatus, XHR){
            windowW();
        });
        // $("#rightMain").attr('src', targetUrl);
        $('.top_menu').removeClass("on");
        $('#_M'+menuid).addClass("on");
        //当点击顶部菜单后，隐藏中间的框架
        $('#display_center_id').css('display','none');

        //显示左侧菜单，当点击顶部时，展开左侧
        $(".left_menu").removeClass("left_menu_on");
        $("#openClose").removeClass("close");
        $("html").removeClass("on");
        $("#openClose").data('clicknum', 0);
        $("#current_pos").data('clicknum', 1);
    }

    function _MP(menuid,targetUrl) {
        $("#menuid").val(menuid);
        $("#paneladd").html('<a class="panel-add" href="javascript:add_panel();"><em>添加</em></a>');
        $("#rightMain").attr('src', targetUrl+'&menuid='+menuid);
        $('.sub_menu').removeClass("on fb blue");
        $('#_MP'+menuid).addClass("on fb blue");
        $("#current_pos").data('clicknum', 1).text($("#top_menu .on a").text() + " > " + $('#_MP'+menuid).text());
    }

    function paneladdclass(id) {
        $("#panellist span a[class='on']").removeClass();
        $(id).addClass('on')
    }


    setInterval("session_life()", 160000);
    function session_life() {
        $.get("__CONTROLLER__/public_session_life");
    }

    (function(){
        var addEvent = (function(){
            if (window.addEventListener) {
                return function(el, sType, fn, capture) {
                    el.addEventListener(sType, fn, (capture));
                };
            } else if (window.attachEvent) {
                return function(el, sType, fn, capture) {
                    el.attachEvent("on" + sType, fn);
                };
            } else {
                return function(){};
            }
        })(),
        Scroll = document.getElementById('Scroll');
        // IE6/IE7/IE8/Opera 10+/Safari5+
        addEvent(Scroll, 'mousewheel', function(event){
            event = window.event || event ;
            if(event.wheelDelta <= 0 || event.detail > 0) {
                Scroll.scrollTop = Scroll.scrollTop + 29;
            } else {
                Scroll.scrollTop = Scroll.scrollTop - 29;
            }
        }, false);

        // Firefox 3.5+
        addEvent(Scroll, 'DOMMouseScroll',  function(event){
            event = window.event || event ;
            if(event.wheelDelta <= 0 || event.detail > 0) {
                Scroll.scrollTop = Scroll.scrollTop + 29;
            } else {
                Scroll.scrollTop = Scroll.scrollTop - 29;
            }
        }, false);
    })();

    function menuScroll(num){
        var Scroll = document.getElementById('Scroll');
        if(num==1){
            Scroll.scrollTop = Scroll.scrollTop - 60;
        }else{
            Scroll.scrollTop = Scroll.scrollTop + 60;
        }
    }
</script>
</body>
</html>