<extend name="Layout:form" />
<blcok name="title"><title>密码修改</title></blcok>
<block name="subnav">
    <a class="on" href="javascript:void(0);"><em>修改密码</em></a>
</block>
<block name="main">
    <div class="common-form">
        <form name="myform" id="myform" action="" method="post">
            <table width="100%" class="table_form contentWrap">
                <tr>
                    <td width="80">用户名</td>
                    <td><?php echo $account['account']; ?> (真实姓名 <?php echo $account['realname']; ?>)</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>
                        <?php echo $account['email']; ?>
                    </td>
                </tr>
                <tr>
                    <td>老密码</td>
                    <td><input type="password" name="old_pwd" id="old_password" class="input-text"></input></td>
                </tr>
                <tr>
                    <td>新密码</td>
                    <td><input type="password" name="new_pwd" id="new_password" class="input-text"></input></td>
                </tr>
                <tr>
                    <td>新密码确认</td>
                    <td><input type="password" name="re_pwd" id="new_pwdconfirm" class="input-text"></input></td>
                </tr>
            </table>
            <div class="bk15"></div>
            <input name="dosubmit" type="submit" value="提交" class="button" id="dosubmit">
        </form>
    </div>
</block>
<block name="footer">

<script type="text/javascript">
    $(document).ready(function() {
        $.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
        $("#old_password").formValidator({empty:true,onshow:"不修改密码请留空",onfocus:"密码应该为6-20位之间",oncorrect:"旧密码输入正确"}).inputValidator({min:5,max:20,onerror:"密码应该为6-20位之间"}).ajaxValidator({
            type : "get",
            url : "__CONTROLLER__/public_password_ajx",
            data :"",
            datatype : "html",
            async:'false',
            success : function(data){ if( data == 1 ) { return true; } else { return false; } },
            buttons: $("#dosubmit"),
            onerror : "旧密码输入错误",
            onwait : "请稍候..."
        });
        $("#new_password").formValidator({empty:true,onshow:"不修改密码请留空。",onfocus:"密码应该为6-20位之间"}).inputValidator({min:5,max:20,onerror:"密码应该为6-20位之间"});
        $("#new_pwdconfirm").formValidator({empty:true,onshow:"不修改密码请留空。",onfocus:"请输入两次密码不同。",oncorrect:"密码输入一致"}).compareValidator({desid:"new_password",operateor:"=",onerror:"请输入两次密码不同。"});
    });
</script>
</block>