<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TP-Admin 使用简易指南</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/style.css" type="text/css">
</head>
<body style="background: #6f5499;">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hidden-sm" href="#">TP-Admin</a>
        </div>
        <div class="navbar-collapse collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li class="hidden-sm hidden-md"><a href="#header">系统简介</a></li>
            <li><a href="http://tp-admin.hhailuo.com#summary">功能概述</a></li>
            <li><a href="http://tp-admin.hhailuo.com#setup">安装</a></li>
            <li><a href="http://tp-admin.hhailuo.com#contact">联系我们</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right hidden-sm">
            <li><a href="http://www.hhailuo.com/about-us/">关于作者</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="scrollblock block-title" id="header">
        <div class="container">
            <h1>TP-Admin</h1>
            <p>TP-Admin 助你开启快速开发之路，木有高深内容，;)。</p>
            <a href="<?php echo U('Admin/Index/index'); ?>" target="_blank" class="btn btn-outline-inverse btn-lg">登录后台</a>
            <a href="http://www.hhailuo.com/tp-admin-wiki" class="btn btn-outline-inverse btn-lg">WIKI</a>
            <a href="http://www.hhailuo.com/about-us" target="_blank" class="btn btn-outline-inverse btn-lg">作者介绍</a>
            <p>
                系统以Thinkphp为底层框架，融合PHPCMS思想进行开发建立的一个大型的系统后台；以模块化开发方式做为功能开发形式；框架易于功能扩展，代码维护，优秀的二次开发能力，可满足所有网站的应用需求。
            </p>
            <p class="meta">
                <span>作者：<a href="http://www.hhailuo.com/about-us">逍遥·李志亮</a>;&nbsp;&nbsp;</span>
                <span>如有纰漏，请到 <a href="https://github.com/476552238li/TP-Admin-V2.0/issues">tp-admin issues</a> 填报;&nbsp;&nbsp;</span>
                <code>QQ交流群：TP-Admin 群   号：495760597</code>
            </p>
        </div>
    </div>
    <footer class="container">
        <div class="row">
            <div class="col-xs-12">
                <section class="copyright">All content copyright <a href="http://www.hhailuo.com">红海螺</a> © 2015 • All rights reserved.</section>
                <section class="beian"><a href="http://www.miibeian.gov.cn/" target="_blank">湘ICP备14002982号</a></section>
            </div>
        </div>
    </footer>
    <div id="site-navbar" style="position: absolute; top: 51px; right: 0px; border: 0; z-index: 200;padding:0;margin:0;"><a href="https://github.com/476552238li/TP-Admin-V2.0" title="fork me on github" style="background:none;"><img src="__PUBLIC__/images/home/git-fork.png" style="padding:0;margin:0;border:0; -webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;"></a></div>
</body>
</html>