<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <block name="title"><title>红海螺 - 后台管理中心</title></block>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="逍遥·李志亮" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="<?php echo asset('admin/css/bootstrap.min.css') ?>" rel="stylesheet" type="text/css"/>
    <link href="<?php echo asset('admin/css/bootstrap-responsive.min.css') ?>" rel="stylesheet" type="text/css"/>
    <link href="<?php echo asset('admin/css/font-awesome.min.css') ?>" rel="stylesheet" type="text/css"/>
    <link href="<?php echo asset('admin/css/style-metro.css') ?>" rel="stylesheet" type="text/css"/>
    <link href="<?php echo asset('admin/css/style.css') ?>" rel="stylesheet" type="text/css"/>
    <link href="<?php echo asset('admin/css/style-responsive.css') ?>" rel="stylesheet" type="text/css"/>

    <link href="{:asset('css/admin/zh-cn-system.css')}" rel="stylesheet" type="text/css">
    <link href="{:asset('css/admin/table_form.css')}" rel="stylesheet" type="text/css">

    <script src="<?php echo asset('admin/js/jquery-1.10.1.min.js'); ?>" type="text/javascript"></script>
    <block name="subheader"></block>

</head>
<body>
    <div class="container-fluid" style="padding: 0;">
        <div class="subnav">
            <block name="subnav">
                <a class="btn red" href="__CONTROLLER__/add">添加</a>　<a class="btn red-stripe" href="__CONTROLLER__/index">列表</a>
            </block>
        </div>
        <block name="search"></block>
        <block name="main">
            <form name="myform" action="__CONTROLLER__/listorder" method="post">
                <div class="table-list">
                    <table width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="16"><input type="checkbox" value="" id="check_box" onclick="selectall('ids[]');"></th>
                                <th width="37">排序</th>
                                <th width="40">ID</th>
                                <?php foreach ($list_fields as $key => $field) { ?>
                                  <th><?php echo $field['name']; ?></th>
                                <?php } ?>
                                <th width="118">更新时间</th>
                                <th width="102">管理操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($contents as $key => $content) { ?>
                            <tr>
                                <td align="center"><input class="inputcheckbox " name="ids[]" value="<?php echo $content['id']; ?>" type="checkbox"></td>
                                <td align="center"><input name="listorders[<?php echo $content['id']; ?>]" type="text" size="3" value="<?php echo $content['listorder']; ?>" class="input-text-c input-text"></td>
                                <td align="center"><?php echo $content['id']; ?></td>
                                <?php foreach ($list_fields as $key => $field) { ?>
                                <td><?php echo $content[$field['field']]; ?></td>
                                <?php } ?>
                                <td align="center"><?php echo $content['updatetime']; ?></td>
                                <td align="center">
                                    <a href="__CONTROLLER__/edit?id=<?php echo $content['id'] ?>">修改</a> | <a href="__CONTROLLER__/delete?id=<?php echo $content['id']; ?>" onClick="return confirm('确认删除『 <?php echo $content['title']; ?> 』 吗？')">删除</a>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                    <div class="btn"><label for="check_box">全选/取消</label>
                        <input name="submit" type="submit" class="button" value="排序">&nbsp;
                        <input name="deletesubmit" type="submit" class="button" value="删除" onclick="document.myform.action='<?php echo U('Content/delete'). "?catid=" .$catid; ?>';return confirm('确认要删除 『 选中 』 吗？')">
                    </div>
                    <?php if (isset($pages)) { ?>
                    <div id="pages">
                        <?php echo $pages; ?>
                    </div>
                    <?php } ?>
                </div>
            </form>
        </block>
    </div>

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="<?php echo asset('admin/js/jquery-1.10.1.min.js'); ?>" type="text/javascript"></script>
    <script src="<?php echo asset('admin/js/jquery-migrate-1.2.1.min.js'); ?>" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="<?php echo asset('admin/js/jquery-ui-1.10.1.custom.min.js'); ?>" type="text/javascript"></script>
    <script src="<?php echo asset('admin/js/bootstrap.min.js'); ?>" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="<?php echo asset('admin/js/excanvas.min.js'); ?>"></script>
    <script src="<?php echo asset('admin/js/respond.min.js'); ?>"></script>
    <![endif]-->
    <script src="<?php echo asset('admin/js/jquery.cookie.min.js'); ?>" type="text/javascript"></script>
    <script src="<?php echo asset('admin/js/app.js'); ?>" type="text/javascript"></script>

    <script type="text/javascript" src="{:asset('js/admin/admin_common.js')}"></script>
    <script type="text/javascript" src="{:asset('js/admin/formvalidator.js')}"></script>
    <script type="text/javascript" src="{:asset('js/admin/formvalidatorregex.js')}"></script>
    <script src="{:asset('js/artdialog/jquery.artDialog.source.js')}&skin=default"></script>
    <script src="{:asset('js/artdialog/plugins/iframeTools.source.js')}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init(); // initlayout and core plugins
        });
    </script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <block name="footer"></block>
    <!-- END PAGE LEVEL SCRIPTS -->

    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>